
*{
    font-family: Arial, Helvetica, sans-serif; 
    margin: 30px;
    padding: 10px;

 }
 div{
    
    border: 1px solid black;
    

 }
 #heading{
    background-color:rgb(28, 52, 102);
    text-align: center; 
    

 }
 #paragraph{
     background-color: rgb(233, 150, 42);
     text-align: justify;

 }